
<script src="~/js/Sign/ChangePassword.js"></script>

@model FourierNewton.Models.Sign.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>

<form action="/Sign/ChangePasswordProcess" method="post" oninput="removeErrorMessage()">  
    <table style="width:100%">
        <tr>
            <td><label for="email">Email: </label></td>
            <td><input type="email" id="email" size="40" name="email" value="" required></td>
        </tr>
        <tr>
            <td><label for="currentPassword">Current Password: </label></td>
            <td><input type="password" id="currentPassword" size="40" name="currentPassword" minlength="8" value="" required></td>
        </tr>
        <tr>
            <td><label for="newPassword">New Password: </label></td>
            <td><input type="password" id="newPassword" size="40" name="newPassword" minlength="8" value="" required></td>
        </tr>
        <tr>
            <td><label for="repeatedNewPassword">New password: </label></td>
            <td><input type="password" id="repeatedNewPassword" size="40" name="repeatedNewPassword" minlength="8" value="" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Change Password"></td>
            <td><p></p></td>
        </tr>
    </table>
</form>



@if (Model.IsError)
{
    <pre id="errorMessageParagraph" style="color:rgba(255,0,0,1.0);">@Model.ErrorMessage</pre>
}

