
<script src="~/js/Sign/ResetPassword.js"></script>

@model FourierNewton.Models.Sign.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>

<form action="/Sign/ResetPasswordProcess" method="post" oninput="removeErrorMessage()">
    <label for="email">Email: </label>
    <input type="email" id="email" size="40" name="email" value="">
    <input type="submit" value="Reset Password">
</form>

@if (Model.IsError)
{
    <p id="errorMessageParagraph" style="color:rgba(255,0,0,1.0);">@Model.ErrorMessage</p>
}
