
<link href="~/css/AntennaDesignAndImplementation/AntennaDesignAndImplementation.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Antenna Design and Implementation";
}

<h1>@ViewData["Title"]</h1>

<h3>Wideband Microstrip Antenna</h3>
<div style="clear:both"></div>
<p>A wideband microstrip antenna which works on 2.8 GHz – 4.5 GHz band was designed.</p>
<hr>

<h4>Design</h4>
<img class="imageClass" src="~/images/AntennaDesignAndImplementation/antennaDesign.png" />
<p>(a) Front view</p>
<p>(b) Side view</p>
<p>YLU = 7.8 mm</p>
<p>λ/4 = 18.75 mm</p>

<div style="clear:both"></div>
<hr>

<h4>Implementation</h4>
<img class="imageClass" src="~/images/AntennaDesignAndImplementation/antennaImplementation.png" />
<p>By using FR4 substrate which has thickness of 1.575 mm, antenna was manufactured.</p>
<p>On the left image, Antenna 1 is shown on the left.</p>
<p>On the left image, Antenna 2 is shown on the right.</p>

<div style="clear:both"></div>
<hr>

<h4>Result</h4>
<img class="imageClass" class=" " src="~/images/AntennaDesignAndImplementation/result.png" />
<p>Simulation and measurement results of Antenna 1 and Antenna 2 are shown on the left image.</p>

<div style="clear:both"></div>
<hr>


